#header {
	background-color:#ffaa00;
	font-size: 25px;
	font-family: Arial, Verdana, sans-serif;
	text-align: center;
}

#footer {
	clear: both;
	background-color: 	 #ffaa00;
	text-align: center;
	font-family: Arial, Verdana, sans-serif;
	font-weight: bold;
}

td {
	vertical-align: top;
}

table.primary {
	width: 100%;
	border-collapse: collapse; /* so we can control cellspacing in a practical way */
	border-bottom: 1px solid #444;
}

table.primary th,
table.primary td {
	padding: 5px;
	text-align: left;
	font-family: Arial, Verdana, sans-serif;
	border: 1px solid  #444; /* let's apply borders */
	border-bottom:#444;
}

table.primary th {
	background-color: 	 #ffd480;
	color:               #444;
	border-bottom: 2px solid #444;
}

table.primary tr.even {
	background-color: blanchedalmond;
}

table.primary tr.odd td {
	border-top: 1px solid #444    ;
}


table.secondary {
	width: 100%;
	border-collapse: collapse; /* so we can control cellspacing in a practical way */
	border-bottom: 1px solid #444;
}

table.secondary th,
table.secondary td {
	padding: 5px;
	text-align: left;
	font-family: Arial, Verdana, sans-serif;
	border: 1px solid  #444; /* let's apply borders */
	border-bottom:#444;
}

table.secondary th {
	background-color: 	 #ffc299;
	color:               #444;
	border-bottom: 2px solid #444;
}

table.secondary tr.odd {
	background-color: #ffe0cc;
}

table.secondary tr.odd td {
	border-top: 1px solid #444    ;
}